__unconfig*
.DS_Store
.env
.env.local
.impeccable
.next
.nitro
.output
.tanstack
.tmp
.vercel
.vinxi
.wrangler
*.local
coverage
dist
dist-ssr
node_modules
test-results
todos.json
tsconfig.tsbuildinfo
